/* <weight>: Use a value from 400 to 700
    <uniquifier>: Use a unique and descriptive class name */

body {
    background-image: url(images/bckgrnd.gif);    
    
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

.header {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    width: 100%;
}
/* Yeah im not sorting this out into a million different sections, its just gonna be like this for now. */

.center-column {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 40px;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    border: 5px solid;
    border-color:rgb(24, 24, 24);
    border-radius: 0.5em;
    width: 30%;
    height:auto;
    margin-left: 15%; 
    margin-right: 2%;

    text-align: center;
    background-color: #000000;
    padding: 0px 10px 0px 10px;
}

.left-sidebar-index {
    display: flex;
    flex-direction: column;
    border: 5px solid;
    border-color:rgb(24, 24, 24);
    border-radius: 0.5em;
    width: 30%;
    height:auto;
    margin-left: 3%; 
    margin-right: 2%;
    text-align: center;
    background-color: #000000;
    padding: 0px 10px 0px 10px;
}
.left-sidebar iframe {
    display: block;
    margin: 0 auto;
}


.main {
    background-color:rgb(0, 0, 0);
    border: 5px solid;
    border-color:rgb(24, 24, 24);
    border-radius: 0.5em;
    color:#ffffff;
    padding: 0px 3% 0px 3%; 
    width: 100%;
    height:auto;
/*    margin-left: 20%;
    margin-right: 20%; */

    text-align: center;
}

.right-sidebar {
    background-color:rgb(0, 0, 0);
    border: 5px solid;
    border-color:rgb(24, 24, 24);
    border-radius: 0.5em;
    color:#ffffff;
    padding: 0px 10px 0px 10px; 
    width: 30%;
    height:auto;
    margin-left: 2%;
    margin-right: 15%;

    text-align: center;
    
}
.right-sidebar-hidden {
    background-color:rgb(0, 0, 0);
    border: 5px solid;
    border-color:rgb(24, 24, 24);
    border-radius: 0.5em;
    color:#ffffff;
    padding: 0px 0px 0px 0px; 
    width: 20%;
    height:auto;
    margin-left: 2%;
    margin-right: 5%;

    text-align: center;
    visibility: hidden;
}
.box {
    border: 5px solid;
    border-color:rgb(24, 24, 24);
    border-radius: 0.5em;
    color:#ffffff;
    padding: 5px 5px 5px 5px; 
    width: 95%;
    height:auto;
    text-align: center;
    box-sizing: border-box;
    margin: 10px auto 10px;
    
}
.updatebox {
    color: #ffffff;
    background-color: black;
    text-align: center;
    position: sticky;
    top: 0%;
    padding: 5px;

}
.entrybox {
/*    border: 5px solid;
    border-color:rgb(24, 24, 24);
    border-radius: 0.5em; */
    color:#ffffff;
    padding: 0 5px 5px 5px; 
    width: 95%;
    height: 300px;
    text-align: center;
    box-sizing: border-box;
    margin: 5px auto 5px;
    overflow: auto;

}
/*Ok what the FUCK do you do?*/
.entry {
    font-size: 10px;
    background-color: #333333;
    padding: 1px
}

.mainLanding {
    background-color:rgb(0, 0, 0);
    border: 5px solid;
    border-color:rgb(24, 24, 24);
    border-radius: 0.5em;
    color:#ffffff;
    padding: 0px; 
    width: 100%;
    height:auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5%;
    text-align: center;
}

.mainLandingHeadText {
    font-size: 30px;
}
.mainLandingBodyText {
    font-size: 20px;
    padding: 50px 5px 5px 0px;
}

.navbar {
    /*background-image: url('../images/bckgrnd.gif');*/
    margin: 10px 10px 5px 10px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.navbar a {
    color: #b766ff;
    padding: 5px;
    display: inline-block;
    border: 2px dotted #ffffff;
    background-color: #000000;
}

.navbar a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.icon {
    margin-right: 10px;
    font-size: 1.2em;
}

img.animated-gif {
    width: 20%;
    height: auto;
    text-align: center;
}
.ticker-container {
    width: 100%;
    overflow: hidden;
    color: white;
    font-size: 24px;
    padding: auto;
    position: relative;
}
.ticker-text {
    white-space: nowrap;
    animation: bounce 5s ease-in-out infinite alternate;
}
@keyframes bounce {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
/* Blog Stuff */

.update-title {
    font-size: 25px;
}

.update-title-PREVIEW {
    font-size: 17px;
}
.update-item {
    margin-bottom: 20px;
}

.update-item p {
    margin: 5px 0;
}

.update-separator {
    border: none;
    border-top: 5px dashed #ffffff;
    margin: px 0;
}

.update-separator-bottom {
    border: none;
    border-bottom: 5px dashed #ffffff;
    margin: px 0;
}

.entrydate {
    font-size: 20px;
    color: #b766ff;
}
.entrycontent {
    font-size: 20px;
    padding: 5px 20px 5px 20px;
}
/* Blog stuff end */

/* Front page stuff */
.pronouns {
    font-size: 23px;
    font-weight: bold;
    color: #b766ff;
    padding-top: 0px;
}

.name {
    font-size: 35px;
    font-weight: bold;
    color: #b766ff;
}

.titleBeautifier {
/*    border: 2px dotted #ffffff; */
    font-size: 20px;
    color: #b766ff;
    
}

.titleMain {
    font-size: 40px;
    color: #b766ff;
    padding: 0px 10px 0px 10px;
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

.button-container input {
    max-width: 90%;
    display: block;
    margin: 0 auto 5px auto;
}

.divider {
    width: 220px;
    height: auto;
    margin: 5px auto;
}